<div class="mt-4 ml-4 mr-4 mb-4">
    <div class="row">
        <div class="col-lg-3">
            <button>HỌC NGAY</button>
            <p>{{course.level}}</p>
            123
        </div>
        <div class="col-lg-9">
            <H2>{{course.name}}</H2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoId}}?si=uVBZWX4S4ZenhFWF"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <p>{{course.description}}</p>
        </div>

    </div>
</div>