<!-- Bắt đầu của Footer -->
<footer class="footer navbar-dark bg-dark ">
  <div class="footer-container">
    <div class="row">
      <div class="footer-about col-md-4">
        <h6>Về Chúng Tôi</h6>
        <p class="text-justify">Chúng tôi cung cấp các khoá học chất lượng cao giúp bạn phát triển kỹ năng và kiến thức.
        </p>
      </div>

      <div class="footer-links col-md-4">
        <h6>Liên Kết Nhanh</h6>
        <ul class="footer-links">
          <li><a href="#!">Trang Chủ</a></li>
          <li><a href="#!">Về Chúng Tôi</a></li>
          <li><a href="#!">Liên Hệ</a></li>
          <li><a href="#!">Hỗ Trợ</a></li>
        </ul>
      </div>

      <div class="footer-social col-md-4">
        <h6>Theo Dõi Chúng Tôi</h6>
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class="footer-container">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p>© 2024 Bản quyền thuộc về Công ty của bạn.</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="footer-distributed">
            <li><a href="#!">Chính Sách Bảo Mật</a></li>
            <li><a href="#!">Điều Khoản Sử Dụng</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Kết thúc của Footer -->

{{!--

<footer class="footer">
  <div class="footer-container">
    <div class="footer-about col-md-4">
      <h6>Về Chúng Tôi</h6>
      <p class="text-justify">Chúng tôi cung cấp các khoá học chất lượng cao giúp bạn phát triển kỹ năng và kiến thức.
      </p>
    </div>
    <div class="footer-links col-md-4">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

    <div class="footer-social col-md-4">
      <h6>Theo Dõi Chúng Tôi</h6>
      <ul class="social-icons">
        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>

  <p class="footer-copyright">&copy; 2024 Your Company Name</p>
</footer> --}}