<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">F8 EDUCATION</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto" id="anonymous">
        <li class="nav-item">
          <a class="nav-link" href="/users/create">Đăng ký</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/login">Đăng nhập</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" id="userMenu">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            <img class="user-avatar" src="https://fullstack.edu.vn/static/media/f8-icon.18cd71cfcfa33566a22b.png">
            {{user.name}}
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/courses/create">Tạo khóa học mới </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi </a>
            <a class="dropdown-item" href="/me/stored/news">Bài đăng của tôi </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/users/logout">Đăng xuất</a>
          </div>
        </li>

    </div>
  </div>
</nav>
<script>
  window.onload = function () {
    var userMenu = document.getElementById('userMenu');
    await if (!localStorage.getItem('userId')) {
      anonymous.style.display = 'inline';
      userMenu.style.display = 'none';
    }
    else {
      anonymous.style.display = 'none';
      userMenu.style.display = 'block';
    }
  }
</script>