<div class="mt-4">
    <h2>Đăng ký tài khoản</h2>
    <form id="register-form" onsubmit="return validateForm()" method="post" action="/users/store">
        <div class="form-group">
            <label for="username">Tên đăng nhập</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Tên đăng nhập">
            <div id="username-error" style="display: none; color: red;">Vui lòng nhập tài khoản</div>
            <div id="username-already-used" style="display: none; color: red;">Tài khoản đã tồn tại</div>
        </div>
        <div class="form-group">
            <label for="password">Mật khẩu</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu">
            <div id="password-error" style="display: none; color: red;">Vui lòng nhập mật khẩu</div>
        </div>
        <div class="form-group">
            <label for="name">Họ và tên</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Họ và tên">
            <div id="name-error" style="display: none; color: red;">Vui lòng nhập họ và tên</div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Email">
            <div id="email-error" style="display: none; color: red;">Vui lòng nhập email</div>
            <div id="email-already-used" style="display: none; color: red;">Email đã tồn tại</div>
        </div>
        <div>
            Bạn đã có tài khoản? <a href="../users/login.hbs">Đăng nhập ngay</a>
            <br><br>
        </div>
        <button type="submit" class="btn btn-primary">Đăng ký</button>
    </form>
</div>


<script>
    function validateForm() {
        var username = document.forms["register-form"]["username"].value;
        var password = document.forms["register-form"]["password"].value;
        var name = document.forms["register-form"]["name"].value;
        var email = document.forms["register-form"]["email"].value;

        if (username == "" || password == "" || name == "" || email == "") {
            if (username == "") {
                $('#username-error').show();
                if (password) $('#password-error').hide(); else $('#password-error').show();
                if (name) $('#name-error').hide(); else $('#name-error').show();
                if (email) $('#email-error').hide(); else $('#email-error').show();
                return false;
            } else $('#username-error').hide();
            if (password == "") {
                $('#password-error').show();
                if (name) $('#name-error').hide(); else $('#name-error').show();
                if (email) $('#email-error').hide(); else $('#email-error').show();
                return false;
            } else $('#password-error').hide();
            if (name == "") {
                $('#name-error').show();
                if (email) $('#email-error').hide(); else $('#email-error').show();
                return false;
            } else $('#name-error').hide();
            if (email == "") {
                $('#email-error').show();
                return false;
            } else $('#email-error').hide();
        } else $('#username-error').hide();
    } 
</script>