<div class="container-fluid">
    <h1>Resett mật khẩu</h1>
    <form id="forgot-form" action="/users/resetPassword" onsubmit="return validateForm()" method="post">
        <div class="forgotpassword-form">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Email">
            <div id="email-error" style="display: none; color: red;">Vui lòng nhập email</div>
        </div>
        <button type="submit" class="btn btn-primary">Đặt lại mật khẩu</button>
    </form>
</div>



<script>
    function validateForm() {
        var email = document.forms["forgot-form"]["email"].value;
        if (email == "") {
            $("#email-error").show();
            return false;
        } else $("#email-error").hide();
    }
</script>