<div class="mt-4">
    <h2>Đăng nhập</h2>
    <br><br>
    <form id="login-form" onsubmit="return validateForm()" method="post" action="/users/getin">
        <div class="form-group">
            <label for="username">Tên đăng nhập</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Tên đăng nhập">
            <div id="username-error" style="display: none; color: red;">Vui lòng nhập tài khoản</div>
        </div>
        <div class="form-group">
            <label for="password">Mật khẩu</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu">
            <div id="password-error" style="display: none; color: red;">Vui lòng nhập mật khẩu</div>
        </div>
        {{!-- <button id="forgot-password" type="button" class="btn-danger">Quên mật khẩu?</button> --}}
        <div>
            <a href="./forgotPassword">Quên mật khẩu?</a>
        </div>
        <button type="submit" class="btn btn-primary login-btn">Đăng nhập</button>
        {{!-- <script>
            document.addEventListener('DOMContentLoaded', function () {
                var forgotPasswordForm = document.forms['forgotPassword-form'];
                var btnforgotPassword = document.getElementById('forgot-password');
                btnforgotPassword.onclick = function () {
                    forgotPasswordForm.action = "./forgotPassword";
                    forgotPasswordForm.submit();
                }
            })
        </script> --}}
    </form>
    <br><br><br><br><br><br><br><br><br><br>
</div>

{{!-- Submit hidden form --}}
{{!-- <form id="forgotPassword-form" style="display: none;"></form> --}}

<script>
    function validateForm() {
        var username = document.forms["login-form"]["username"].value;
        var password = document.forms["login-form"]["password"].value;
        if (username == "" || password == "") {
            if (username == "") {
                $('#username-error').show();
                if (password) $('#password-error').hide(); else $('#password-error').show();
                return false;
            } else $('#username-error').hide();
            if (password == "") {
                $('#password-error').show();
                return false;
            } else $('#password-error').hide();
        } else $('#username-error').hide();
    }

</script>